@model SistemaCajaRegistradora.Models.Categoria

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-danger">
            <h5 class="modal-title text-light" id="exampleModalLabel">Eliminar producto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post">
            <div class="modal-body">
                <h5>¿Esta seguro de eliminar el producto "@Model.nombre"?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" onclick="eliminarCategoria('@Url.Action("eliminarCategoria", "Categoria")', @Model.id)">Eliminar</button>
            </div>
        </form>
    </div>
</div>
