@{
    ViewBag.Title = "Listado de ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Topbar  -->
<nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="text_nameuser" class="mr-2 d-none d-md-inline text-gray-600 fw-bold">Cargando...</span>
                <img id="img_user" class="img-profile rounded-circle img-fluid"
                     src="~/Assets/images/blank-profile.png">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="linksChangePass" class="dropdown-item" href="javascript:;">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="linksignout" class="dropdown-item text-danger" href="javascript:;">Cerrar sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row justify-content-between">
        <div class="col-4">
            <h1 class="h3 mb-4 text-gray-800">@ViewBag.Title</h1>
        </div>
    </div>
    <!-- table -->
    <div class="row">
        <div class="col-12">
            <table id="tablaVenta" class="display table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <th scope="col">Cajero</th>
                        <th scope="col">Metodo de pago</th>
                        <th scope="col">Numero Boleta</th>
                        <th scope="col">Total venta</th>
                        <th scope="col">Fecha de creacion</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- Modal core base-->
<div class="modal fade" id="coreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static">

</div>
@section js{
<script src="~/Scripts/js/printThis.js"></script>
<script src="~/Scripts/js/scriptVenta.js"></script>
<script src="~/Scripts/Datatable/dtVenta.js"></script>
}