
@{
    ViewBag.Title = "Punto de venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Topbar  -->
<nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="text_nameuser" class="mr-2 d-none d-md-inline text-gray-600 fw-bold">Cargando...</span>
                <img id="img_user" class="img-profile rounded-circle img-fluid"
                     src="~/Assets/images/blank-profile.png">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="linksChangePass" class="dropdown-item" href="javascript:;">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="linksignout" class="dropdown-item text-danger" href="javascript:;">Cerrar sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row justify-content-between">
        <div class="col-4">
            <h1 class="h3 mb-4 text-gray-800">@ViewBag.Title</h1>
        </div>
        <div class="col-4">
            <div class="d-grid gap-2 mb-2">
                <button id="btn_printLastSales" type="button" class="btn btn-secondary">
                    <i class="fas fa-print"></i>
                    Imprimir la ultima venta
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class="d-grid gap-2 mb-2">
                <a class="btn btn-outline-danger" href="@Url.Action("CerrarCaja","Venta")">
                    <i class="far fa-times-circle"></i>
                    Cerrar caja
                </a>
            </div>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Codigo Barra</span>
        <input id="codigoAdd" type="text" class="form-control" placeholder="Ingrese codigo de barra" aria-describedby="btnBorrar">
        <button id="btn_findproducto" type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" 
                data-bs-auto-close="outside" aria-expanded="false">
            <i class="fas fa-search"></i>
        </button>
        <div id="dropdownProd" class="dropdown-menu dropdown-menu-end p-4 overflow-auto" style="width: 500px; max-height: 600px" aria-labelledby="btn_findproducto">
            <h4 class="dropdown-header fw-bold text-center">Listado productos</h4>
            <table id="findTable" class="table display w-100" >
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            </table>
        </div>
        <button id="btnBorrar" type="button" class="btn btn-outline-secondary">
            <i class="fas fa-times"></i>
        </button>
        <span class="input-group-text">Cantidad</span>
        <input id="stockProd" type="number" class="form-control" placeholder="Ingrese cantidad" aria-label="Stock del producto">
    </div>
    <div class="row">
        <div class="col col-8 table-responsive overflow-auto">
            <table id="tablePos" class="table">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col" class="w-50">Producto</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="bodyTable">
                </tbody>
            </table>
            @{
                if (TempData["msgError"] != null)
                {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["msgError"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                }
            }
        </div>
        <div class="col col-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <h5 class="card-title">Detalle de venta</h5>
                        </div>
                        <div class="col-auto opacity-75">
                            <i id="icon_circle" class="fas fa-circle text-secondary"></i>
                            <span id="txt_estadoVenta" class="fw-bold h6">Sin proceso de Venta</span>
                        </div>
                    </div>
                    <div id="btn_groupmetodo" class="btn-group w-100" role="group"
                         aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio"
                               id="btn_efectivo" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="btn_efectivo">
                            Efectivo
                        </label>

                        <input type="radio" class="btn-check" name="btnradio"
                               id="btn_debcred" autocomplete="off">
                        <label class="btn btn-outline-success" for="btn_debcred">
                            Credito/Debito
                        </label>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody id="tableInfo">
                                <tr>
                                    <td>
                                        <p class="h4 fw-bold">Metodo de pago:</p>
                                    </td>
                                    <td id="txt_metodopago" class="h4 text-end fw-bold"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="h4 fw-bold">Productos añadidos:</p>
                                    </td>
                                    <td id="cantidadTotalProd" class="numero h4 text-end fw-bold">0</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="fw-bold h4">Total venta:</p>
                                    </td>
                                    <td id="precioTotalPagar" class="precio h4 fw-bold text-end">0</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="fw-bold h4">Monto recibido:</p>
                                    </td>
                                    <td class="h4 fw-bold">
                                        <input id="input_montoRecibido"
                                               class="form-control form-control-lg text-end" type="text"
                                               placeholder="Monto" list="montos">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="fw-bold h4">Vuelto:</p>
                                    </td>
                                    <td id="totalVuelto" class="precio h4 fw-bold text-end">0</td>
                                </tr>
                            </tbody>
                        </table>
                    @* Datalist de monto recibido *@
                    <datalist id="montos">
                        <option value="500">
                        <option value="1000">
                        <option value="2000">
                        <option value="3000">
                        <option value="4000">
                        <option value="5000">
                        <option value="6000">
                        <option value="7000">
                        <option value="8000">
                        <option value="9000">
                        <option value="10000">
                        <option value="11000">
                        <option value="12000">
                        <option value="13000">
                        <option value="14000">
                        <option value="15000">
                        <option value="16000">
                        <option value="17000">
                        <option value="18000">
                        <option value="19000">
                        <option value="20000">
                    </datalist>
                    </div>
                    <div class="d-grid gap-2">
                        <button id="btn_finalizarventa" class="btn btn-success btn-sales" type="button">Finalizar Venta</button>
                        <button id="btn_cancelarventa" class="btn btn-outline-secondary" type="button">Cancelar Venta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal core base-->
<div class="modal fade" id="coreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

</div>
<script src="~/Scripts/js/printThis.js"></script>
<script src="~/Scripts/js/scriptspos.js"></script>
<script src="~/Scripts/Datatable/dtProducto.js"></script>
