@{
    ViewBag.Title = "Reporte de venta diaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Topbar  -->
<nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="text_nameuser" class="mr-2 d-none d-md-inline text-gray-600 fw-bold">Cargando...</span>
                <img id="img_user" class="img-profile rounded-circle img-fluid"
                     src="~/Assets/images/blank-profile.png">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="linksChangePass" class="dropdown-item" href="javascript:;">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="linksignout" class="dropdown-item text-danger" href="javascript:;">Cerrar sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row justify-content-between">
        <div class="col-4">
            <h3 class="mb-4 text-gray-800">@ViewBag.Title</h3>
        </div>
    </div>
    <!-- Filter -->
    <div class="row">
        <div class="col-4">
            <h5 class="mb-2 text-gray-600">Rango de fecha</h5>
            <div class="input-group mb-2">
                <span class="input-group-text" id="datemin">Fecha inicio</span>
                <input id="text_datemin" type="text" class="form-control" aria-describedby="datemin" placeholder="Ingrese fecha inicio">
                <span class="input-group-text" id="datemax">Fecha final</span>
                <input id="text_datemax" type="text" class="form-control" aria-describedby="datemax" placeholder="Ingrese fecha final">
            </div>
        </div>
    </div>
    <!-- table -->
    <div class="row">
        <div class="col-12">
            <table id="tablaRVD" class="display table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Total venta del dia</th>
                        <th scope="col">Crecimiento</th>
                        <th scope="col">Porcentaje de crecimiento</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/Datatable/dtRVD.js"></script>

