@{
    ViewBag.Title = "Listado de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int lenght = (int)ViewData["ProductosLength"];
}
<!-- Topbar  -->
<nav class="navbar navbar-expand navbar-light bg-white mb-4 topbar shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span id="text_nameuser" class="mr-2 d-none d-md-inline text-gray-600 fw-bold">Cargando...</span>
                <img id="img_user" class="img-profile rounded-circle img-fluid"
                     src="~/Assets/images/loading.gif">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a id="linksChangePass" class="dropdown-item" href="javascript:;">Cambiar contraseña</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a id="linksignout" class="dropdown-item text-danger" href="javascript:;">Cerrar sesion</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row justify-content-between">
        <div class="col-4">
            <h1 class="h3 mb-4 text-gray-800">@ViewBag.Title</h1>
        </div>
        @if (lenght > 0)
        {
            <div class="col-2 offset-lg-4">
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-primary" onclick="cargarProdsForms('@Url.Action("SubirProductosCSV","Producto")')" type="button">
                        <i class="fas fa-file-csv"></i>
                        Cargar productos
                    </button>
                </div>
            </div>
            <div class="col-2">
                <div class="d-grid gap-2 mb-2">
                    <button class="btn btn-success" onclick="AgregarForms('@Url.Action("AgregarForms","Producto")')" type="button">
                        <i class="fas fa-plus"></i>
                        Agregar producto
                    </button>
                </div>
            </div>
        }
    </div>
    @if (lenght > 0)
    {
        //Acordion
        <div class="accordion accordion-flush mb-2 border" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#addExistenciasPanel" aria-controls="addExistenciasPanel" aria-expanded="false">
                        Agregar existencias
                    </button>
                </h2>
                <div id="addExistenciasPanel" class="accordion-collapse collapse" aria-labelledby="addExistenciasPanelVista">
                    <div class="accordion-body">
                        <div class="card mb-2">
                            <h5 class="card-header">Agregar existencias</h5>
                            <div class="card-body">
                                <h4>Escanea el producto</h4>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Codigo Barra</span>
                                    <input id="codigoAdd" type="text" class="form-control" placeholder="Ingrese codigo de barra" aria-describedby="btnBorrar">
                                    <button id="btnBorrar" type="button" class="btn btn-outline-secondary">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    <button id="btn_findproducto" type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                                            data-bs-auto-close="outside" aria-expanded="false">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <!--Tabla modal-->
                                    <div id="dropdownProd" class="dropdown-menu dropdown-menu-end p-4 overflow-auto" style="width: 700px; max-height: 600px" aria-labelledby="btn_findproducto">
                                        <h4 class="dropdown-header fw-bold text-center">Listado productos</h4>
                                        <table id="findTable" class="table display w-100">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Imagen</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">Categoria</th>
                                                    <th scope="col">Precio</th>
                                                    <th scope="col">Stock</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <span class="input-group-text">Cantidad</span>
                                    <input id="stockProd" type="number" class="form-control" placeholder="Ingrese cantidad" aria-label="Stock del producto">
                                </div>
                                <ul id="listProductos" class="list-group list-group-horizontal overflow-auto">
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button id="btnAplicar" class="btn btn-success me-md-2" onclick="aplicarExistencias()" type="button">Aplicar las existencias</button>
                                    <button class="btn btn-secondary" type="button" onclick="cancelar()">Cancelar operacion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- filter -->
        <div class="row">
            <div class="col col-4">
                <div class="input-group mb-2">
                    <span class="input-group-text" id="preciomin">Precio min.</span>
                    <span class="input-group-text" id="preciomin">$</span>
                    <input id="text_preciomin" type="text" class="form-control" placeholder="Ingrese precio minimo" aria-describedby="preciomin">
                    <span class="input-group-text" id="preciomax">Precio max.</span>
                    <span class="input-group-text" id="preciomax">$</span>
                    <input id="text_preciomax" type="text" class="form-control" placeholder="Ingrese precio maximo" aria-describedby="preciomax">
                </div>
            </div>
            <div class="col col-1">
                <div class="d-grid gap-2">
                    <button id="btn_reset" class="btn btn-outline-secondary me-md-2" type="button">
                        <i class="fas fa-undo"></i>
                        Quitar
                    </button>
                </div>
            </div>
            <div class="col col-1">
                <div class="d-flex justify-content-center" style="height: 40px;">
                    <div class="vr"></div>
                </div>
            </div>
            <div class="col col-4 d-flex align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="text_viewstockmin">
                    <label class="form-check-label" for="text_viewstockmin">
                        Productos bajo el stock minimo
                    </label>
                </div>
            </div>
        </div>
        <!-- table -->
        <div class="row mb-2">
            <div class="col-12 table-responsive overflow-auto">
                <table id="tablaProducto" class="table display table-sm table-bordered table-hover w-100">
                    <thead>
                        <tr>
                            <th style="width:2%">id</th>
                            <th scope="col" style="width: 12%">Codigo barra</th>
                            <th scope="col" style="width: 10%;max-width:160px">Imagen</th>
                            <th scope="col" style="width: 25%">Nombre</th>
                            <th scope="col" style="width: 10%">Categoria</th>
                            <th scope="col" style="width: 8%">Precio</th>
                            <th scope="col" style="width: 5%">Stock</th>
                            <th>stock minimo</th>
                            <th>stock maximo</th>
                            <th scope="col" style="width: 5%">Prioridad</th>
                            <th scope="col" style="width: 10%">Fecha creacion</th>
                            <th scope="col" style="width: 10%">Acciones</th>
                            <th scope="col" style="width: 5%">Avisos</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5>Aqui no hay productos, intente agregando uno.</h5>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-success float-right" onclick="AgregarForms('@Url.Action("AgregarForms","Producto")')" role="button">
                            <i class="fas fa-plus"></i>
                            Agregar producto
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- Modal core base-->
<div class="modal fade" id="coreModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

</div>

<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-storage.js"></script>
<script src="~/Scripts/js/scriptsProductos.js" type="text/javascript"></script>
<script src="~/Scripts/Datatable/dtProducto.js" type="text/javascript"></script>
